<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sobre nosotros - Legendary Motorsport</title>

  <!-- Bootstrap core CSS Cargar Boostrap-->
  {% load static %}
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template Cargar Estilos-->
  {% load static %}
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

  <!-- Favicon Cargar icono-->
  {% load static %}
  <link rel="shortcut icon" type="images/png" href="{% static 'favicon.png' %}"/>

</head>

<body>

 <!-- Navigation -->
 <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
      {% load static %}  
      <img src="{% static 'images/logo.png' %}" alt=""></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        {% block sidebar %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
          </li>
        </ul>
        {% endblock %}
      </div>
    </div>
  </nav>

  <!-- Contenido de la pagina -->
  <div class="container">

    <!-- Encabezado de la pagina /Breadcrumbs -->
    <h1 class="mt-4 mb-3">Nuestro equipo</h1>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          {% load static %}
          <img class="card-img-top" src="{% static 'images/no_image.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Benjamín Aceituno</h4>
            <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="mailto:b.aceituno@alumnos.duoc.cl">b.aceituno@alumnos.duoc.cl</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          {% load static %}
          <img class="card-img-top" src="{% static 'images/no_image.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Nicolás Riquelme</h4>
            <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
              <a href="mailto:n.riquelmeh@alumnos.duoc.cl">n.riquelmeh@alumnos.duoc.cl</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          {% load static %}
          <img class="card-img-top" src="{% static 'images/no_image.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Cristobal Celis</h4>
            <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="mailto:c.celisd@alumnos.duoc.cl">c.celisd@alumnos.duoc.cl</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.Termino den container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white"> &copy; Legendary Motorsport - Todos los derechos reservados</p>
        <p class="m-0 text-center text-white">Contacto: +569123456789</p>
        <p class="m-0 text-center text-white">Email: <a href="mailto:legendary.motor20@gmail.com">legendary.motor20@gmail.com</a></p>
    </div>
    <!-- /.Termino footer -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  {% load static %}
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  {% load static %}
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
