<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Agregar Post - Legendary Motorsport</title>

  <!-- Bootstrap core CSS Cargar boostrap -->
  {% load static %}
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template Cargar css-->
  {% load static %}
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">

  <!-- Favicon Cargar iconos-->
  {% load static %}
  <link rel="shortcut icon" type="images/png" href="{% static 'favicon.png' %}"/>


</head>

<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">
        {% load static %}  
        <img src="{% static 'images/logo.png' %}" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          {% block sidebar %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog' %}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Sobre nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated  %}
                  <a class="nav-link text-white" href="{% url 'logout' %}">Cerrar sesión - {{ user.get_username }}</a>
                {% else %}
                  <a class="nav-link text-white" href="{% url 'login' %}">Iniciar sesión</a>
                {% endif %}
            </li>
          </ul>
          {% endblock %}
        </div>
      </div>
    </nav>

  <!-- Contenido de la pagina -->
  {% if user.is_authenticated  %}
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Agregar Post</h1>

    <!-- Formulario de contacto -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
      <div class="col-lg-8 mb-4">
        <h3>Rellena los datos para agregar un post</h3>
        <form enctype="multipart/form-data" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.errors }}
            {{ form.non_field_errors }}
          <button type="submit" name='submit_button' class="btn btn-primary">Enviar mensaje</button>
        </form>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /. Termino container -->

  <!-- Footer Pie del sitio -->
  <footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white"> &copy; Legendary Motorsport - Todos los derechos reservados</p>
        <p class="m-0 text-center text-white">Contacto: +569123456789</p>
        <p class="m-0 text-center text-white">Email: <a href="mailto:legendary.motor20@gmail.com">legendary.motor20@gmail.com</a></p>
    </div>
    <!-- /. Termino de container -->
  </footer>
  {% else %}
  <br>
  <title>Error - Legendary Motorsport</title>
  <div class='alert alert-danger'>
      <button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button>
      <strong><h2 class="text-center" style="font-size: 60px;">Error - No tienes acceso a esta página</h2></strong>
        <p class="m-0 text-center" style="font-size: 20px;">Para poder acceder a todo el contenido debes de <a href="accounts/login">iniciar sesión</a>.</p>
  </div>
  {% endif %}
  <!-- Bootstrap core JavaScript -->
  {% load static %}
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  {% load static %}
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
  {% load static %}
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  {% load static %}
  <script src="{% static 'js/contact_me.js' %}"></script>

</body>

</html>
