<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Luxury Motorsport</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- styles -->
  <link rel="stylesheet" href="assets/css/fancybox/jquery.fancybox.css">
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/bootstrap-theme.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/slippry.css">
  <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/color/default.css">
  <script src="assets/js/modernizr.custom.js"></script>

  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom styles for this template -->
  <!-- <script src="assets/js/modernizr.custom.js"></script>
  <link href="css/blog-home.css" rel="stylesheet"> -->




</head>

<body>
  <header>
      <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
         
        

        <!-- navbar navbar-default -->
        <nav class="col-md-12" >
          <div class="col-md-1"></div>
            <div class="container-fluid col-md-10">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                      <img src="assets/img/logoa.png" height="60" width="140">
                    </a>
                  </div>
              
              <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Inicio</a></li>
                <li class="active"><a href="blog.html">Blog</a></li>
                <li><a href="index.html">Contacto</a></li>
               
          
              </ul>
            </div>
            <div class="col-md-2"></div>
          </nav>
        
    </div>
    
  </header>
  <br><br><br>
  
<!-- Page Content -->
<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Osiris</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a>Nicotina</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posteado en Enero 1, 2017 a las 12:00 PM</p>

        <hr>

        <!-- Preview Image -->
        <img sizes="1px" src="assets/img/slide/osiris.png" alt="turismo" style="width:600px;height:300px">

        <hr>

        <!-- Post Content -->
        <p class="lead">Se trata de un superdeportivo con detalles parecidos al Cheetah aunque una diferencia es el frontal, el cuál luce más recto y largo, similar al de un T20.</p>

        <p>-Su nombre es una referencia a Osiris, el del dios egipcio de la resurrección</p>

        <p>-Pese a que el coche es un superdeportivo, su motor suena como el de un sedán.</p>

        <p>Tiene un gran parecido al Infernus.</p>

        <blockquote class="blockquote">
          <p class="mb-0">Los conductores del Osiris presumen de tener la esperanza de vida más corta de entre todos los consumidores de América.</p>
          <footer class="blockquote-footer">Legendary MotorSport
            <cite title="Source Title"></cite>
          </footer>
        </blockquote>
        <br><br>

        <p>Comprándolo en Legendarymotorsport.net, por $1,950,000 (GTA Online, Next-gen).</p>

        

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Deja un comentario: </h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>

        <!-- Comentarios -->
      

        <!-- Comment with nested comments -->
        <div class="media mb-4">
          
          <div class="media-body">
            <h5 class="mt-0">dark2005:</h5>
            La mea nae si

            <div class="media mt-4">
              
              <div class="media-body">
                <h5 class="mt-0">cambroc14:</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              
              <div class="media-body">
                <h5 class="mt-0">emmanuel20:</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

          <!-- Buscar -->
          <div class="card my-4">
            <br><br>
            <h5 class="card-header">Buscar</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Ingresar criterio de busqueda...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Buscar</button>
                </span>
              </div>
            </div>
          </div>


      </div>

    </div>
    <!-- /.row -->
</div>
</body>
  
  
  
  
    <footer>
      <div class="verybottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="aligncenter">
                <ul class="social-network social-circle">
                  <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                  <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="aligncenter">
                <p>
                  &copy; Legendary Motorsport - Todos los derechos reservados
                </p>
                <p>Contacto: +569123456789</p>
                <p>Email: legendary.motor20@gmail.com</p>
                <div class="credits">
                  <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Groovin
                  -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    

    </footer>
  <a href="#" class="scrollup"><i class="fa fa-angle-up fa-2x"></i></a>
  <!-- javascript -->
  <script src="assets/js/jquery-1.9.1.min.js"></script>
  <script src="assets/js/jquery.easing.js"></script>
  <script src="assets/js/classie.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/slippry.min.js"></script>
  <script src="assets/js/nagging-menu.js"></script>
  <script src="assets/js/jquery.nav.js"></script>
  <script src="assets/js/jquery.scrollTo.js"></script>
  <script src="assets/js/jquery.fancybox.pack.js"></script>
  <script src="assets/js/jquery.fancybox-media.js"></script>
  <script src="assets/js/masonry.pkgd.min.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/jquery.nicescroll.min.js"></script>
  <script src="assets/js/AnimOnScroll.js"></script>
  <script>
    new AnimOnScroll(document.getElementById('grid'), {
      minDuration: 0.4,
      maxDuration: 0.7,
      viewportFactor: 0.2
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#slippry-slider').slippry(
        defaults = {
          transition: 'horizontal',
          useCSS: true,
          speed: 5000,
          pause: 3000,
          initSingle: false,
          auto: true,
          preload: 'visible',
          pager: false,
        }
      )
    });
  </script>

  <script src="assets/js/custom.js"></script>
  <script src="contactform/contactform.js"></script>
  <!-- <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->


</body>
</html>