
 body {
    padding-top: 56px;
    background-color: rgb(228, 228, 228);
  }
  
  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .portfolio-item {
    margin-bottom: 30px;
  }
  
  .tamaño1{
    font-size: 31px;
  }
  
  .tamaño2{
    font-size: 20px;
  }
  
  .er404{
    font-size: 500px;
    text-align: center;
  }
  
  @media screen and (max-width: 1000px) {
    .er404 {
      font-size: 300px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .er404 {
      font-size: 200px;
    }
  }
  
  @media screen and (max-width: 330px) {
    .er404 {
      font-size: 100px;
    }
  }